{{ if not (isset . "Time") }}
	{{ errorf "No time passed" }}
{{ end -}}
{{ if not (isset . "Format") }}
	{{ errorf "No format string passed" }}
{{ end -}}

<time
	datetime='{{ .Time.Format "2006-01-02T15:04:05-0700" | safeHTMLAttr }}'
	{{ with .Class }}class="{{ . | safeHTMLAttr }}"{{- end -}}
	{{ with .Id }}id="{{ . | safeHTMLAttr }}"{{- end -}}
>
	{{- if (default site.Params.Time.EnableRelative .EnableRelative) }}
		{{- partial "time/relative-time-element" . -}}
	{{ else }}
		{{- partial "time/date-text-formatter" . -}}
	{{ end -}}
</time>